{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1f5aa4ec6b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    <script src="" defer></script>
    <title>84Meta | About Us</title>
</head>
<body title="about-us" class="about-us-body">
    <header>
    </header>
    <main>
        <div class="about-us">
            <div class="about-intro">
                <div>
                    <h2> We're changing the whole Game </h2>
                </div>

                <div>
                    <img class="cover" src= "{% static 'images/1.png' %}" alt="section" class="section-img">
                </div>
            </div>

        </div>

        <div class="aboutus-container">
            <img class="image1" src="{% static 'images/Tech support.png' %}" alt="Tech Support" class="tech-support">
            <img class="image2" src= "{% static 'images/6671 1.png' %}" alt="random" class="random">
            <div class="our-story">
                <h2>Our story</h2>
                <h6>84Meta Extractor is a metadata extraction company that helps businesses discover, analyze and utilize their data. We specialize in extracting information from documents and databases for use in your business.
                </h6>
            </div>

            <div class="our-mission">
                <h2>Our mission</h2>
                <h6>Our mission is to provide an easy-to-use, flexible metadata extraction service for content owners and publishers.
                    We are committed to ensuring our users get accurate metadata of their uploaded files at all time.
                </h6>
            </div>

            <div class="our-vision">
                <h2>Our vision</h2>
                <h6>At 84Meta, we believe that metadata is the most important part of any business.
                    Our team is dedicated to making sure that you have all of the information you need and that it's as good as it can be.
                    We work hard to extract metadata from images, video, audio, written content, and more. You'll get a complete set of data from every asset you upload—and we'll do it quickly and efficiently so that you can use it immediately.
                </h6>
            </div>
        </div>

        <div class="team-container">
            <div class="theteam">
                <h6>Meet the team</h6>
            </div>

            <div class="team-members">
                <div class="profile">
                    <img src="{% static 'images/Wanjiru-Mbugua.png' %}" alt="Ellipse-34">
                    <h4>Wanjiru Mbugua</h4>
                    <h4>Product Designer</h4>
                </div>

                <div class="profile">
                    <img src="{% static 'images/Isioma-Ekwemuka.png' %}" alt="Ellipse-35">
                    <h4>Isioma Ekwemuka</h4>
                    <h4>Developer</h4>
                </div>

                <div class="profile">
                    <img src="{% static 'images/Temitope-Osifalujo.png' %}" alt="Ellipse-36">
                    <h4>Temitope Osifalujo</h4>
                    <h4>Developer</h4>
                </div>

                <div class="profile">
                    <img src="{% static 'images/Adesina-Aladesae.png' %}" alt="Ellipse-37">
                    <h4>Adesina Aladesae</h4>
                    <h4>Developer</h4>
                </div>

                <div class="profile">
                    <img src="{% static 'images/Abdulbasit-Ajibola.png' %}" alt="Ellipse-38">
                    <h4>Abdulbasit Ajibola</h4>
                    <h4>Product Designer</h4>
                </div>

                <div class="profile">
                    <img src="{% static 'images/Wuraola-Nureni.png' %}" alt="Ellipse-39">
                    <h4>Wuraola Nureni</h4>
                    <h4>Product Designer</h4>
                </div>
                <div class="team-members">
                    <div class="profile">
                        <img src="{% static 'images/Isaac-David.png' %}" alt="Ellipse-34">
                        <h4>Isaac David</h4>
                        <h4>Product Designer</h4>
                    </div>

                    <div class="profile">
                        <img src="{% static 'images/Stanley-Ibe.png' %}" alt="Ellipse-35">
                        <h4>Stanley Ibe</h4>
                        <h4>Developer</h4>
                    </div>

                    <div class="profile">
                        <img src="{% static 'images/Olubunmi-Olawoyin.png' %}" alt="Ellipse-36">
                        <h4>Olubunmi Olawoyin</h4>
                        <h4>Product Designer</h4>
                    </div>

                    <div class="profile">
                        <img src="{% static 'images/Samuel-Godson.png' %}" alt="Ellipse-37">
                        <h4>Samuel Godson</h4>
                        <h4>Developer</h4>
                    </div>

                    <div class="profile">
                        <img src="{% static 'images/John-Fadumiye.png' %}" alt="Ellipse-38">
                        <h4>John Fadumiye</h4>
                        <h4>Product Designer</h4>
                    </div>

                    <div class="profile">
                        <img src="{% static 'images/Oreoluwa-Dahunsi.png' %}" alt="Ellipse-39">
                        <h4>Oreoluwa Dahunsi</h4>
                        <h4>Product Designer</h4>
                    </div>
                    <div class="team-members">
                        <div class="profile">
                            <img src="{% static 'images/Adelaide-Banibensu.png' %}" alt="Ellipse-34">
                            <h4>Adelaide Banibensu</h4>
                            <h4>Product Designer</h4>
                        </div>

                        <div class="profile">
                            <img src="{% static 'images/Precious-Nwogu.png' %}" alt="Ellipse-35">
                            <h4>Precious Nwogu</h4>
                            <h4>Developer</h4>
                        </div>

                        <div class="profile">
                            <img src="{% static 'images/Taribor-Ajuesi.png' %}" alt="Ellipse-36">
                            <h4>Taribor Ajuesi</h4>
                            <h4>Product Designer</h4>
                        </div>

                        <div class="profile">
                            <img src="{% static 'images/Iyanuoluwa-Olawoye.png' %}" alt="Ellipse-37">
                            <h4>Iyanuoluwa Olawoye</h4>
                            <h4>Developer</h4>
                        </div>

                        <div class="profile">
                            <img src="{% static 'images/Chinonso-Onyekonwu.png' %}" alt="Ellipse-38">
                            <h4>Chinonso Onyekonwu</h4>
                            <h4>Product Designer</h4>
                        </div>

                        <div class="profile">
                            <img src="{% static 'images/Olamilekan-Ojebowa.png' %}" alt="Ellipse-39">
                            <h4>Olamilekan Ojebowa</h4>
                            <h4>Developer</h4>
                        </div>
                        <div class="team-members">
                            <div class="profile">
                                <img src="{% static 'images/Oluwashola-Adeola.png' %}" alt="Ellipse-34">
                                <h4>Oluwashola Adeola</h4>
                                <h4>Product Designer</h4>
                            </div>

                            <div class="profile">
                                <img src="{% static 'images/George-Ogundokun.png' %}" alt="Ellipse-35">
                                <h4>George Ogundokun</h4>
                                <h4>Product Designer</h4>
                            </div>

                            <div class="profile">
                                <img src="{% static 'images/Taiyelolu-Abiri.png' %}" alt="Ellipse-36">
                                <h4>Taiyelolu Abiri</h4>
                                <h4>Developer</h4>
                            </div>

                            <div class="profile">
                                <img src="{% static 'images/Shalom-Onyeukwu.png' %}" alt="Ellipse-37">
                                <h4>Shalom Onyeukwu</h4>
                                <h4>Developer</h4>
                            </div>

                            <div class="profile">
                                <img src="{% static 'images/Victoria-Akeju.png' %}" alt="Ellipse-38">
                                <h4>Victoria Akeju</h4>
                                <h4>Product Designer</h4>
                            </div>
            </div>
    </main>

</body>
</html>
{% endblock %}
