@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*variables*/
:root {
  /* colours */
  /* fonts */
  /*fs  */
  --fs-xs: 16px;
  --fs-s: 18px;
  --fs-m: 20px;
  --fs-l: 25px;
  --fs-xl: 33px;
  --fs-xxl: 40px;
  --fs-xxxl: 60px;
  /* ff  */
  --ff-accent: "Montaga" ;
  --ff-primary: "Nunito Sans" ;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "jost", sans-serif;
}
img {
	max-width: 100%;
}

a {
  text-decoration: none;
}
.section-img {
  width: 100%;
  height: "1232.67px";
  position: absolute;
  padding: 30px 0px;
  background-position: cover;
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem 1.5rem;
}

.logo {
  width: 50;
  cursor: pointer;
}

.nav-bar .hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar .hamburger {
    display: block;
    cursor: pointer;
  }
}

.nav-bar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-bar ul li {
  margin: 0 0;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #043187;
  padding: 16px 40px;
}

.nav-bar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar ul li::after:hover {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav-ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-ul a {
    margin: 2.5rem 0;
  }
  .nav-ul.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.active {
  color: #A27137;
}

.button {
  border: none;
  padding: 10px 34px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button1 {
  background-color: #043187;
  border-radius: 8px 8px 8px 8px;
}

.button2 {
  background-color: none;
  color: #043187;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #043187;
}

.rightnav {
  padding: 12px 12px;
}

.h2 {
  font-size: 3.6vw;
  text-align: center;
  width: auto;
  font-size: 29px;
  padding: 33px;
  color: #2E2E2E;
}

#section-img {
  width: 100%;
  height: 135vh;
  position: absolute;
  padding: 30px 0px;
  background-position: cover;
}

.tech-support {
  position: absolute;
  width: 467px;
  height: 305.33px;
  left: -12px;
  top: 960px;
}

.random {
  position: absolute;
  width: 467px;
  height: 305.33px;
  left: 884px;
  top: 1134px;
}

/*
.h2-2 {
    position: absolute;
    width: 238px;
    height: 67px;
    left: 601px;
    top: 992px;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
}
*/
.sub-text {
  top: 600px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  top: 700px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  max-width: 887px;
  height: 108px;
}

.main h6 {
  font-size: 18px;
}

.main h2 {
  font-size: 45px;
  color: #043187;
}

.sub-text-h6 {
  position: absolute;
  width: 870px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
  padding: 10px 8.5px;
  color: #2E2E2E;
}

.two {
  margin-left: auto;
  margin-right: auto;
  top: 767px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  height: 108px;
}

.two h2 {
  font-size: 45px;
  color: #043187;
}

.two h6 {
  font-size: 18px;
}

.three {
  margin-left: auto;
  margin-right: auto;
  top: 834px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  height: 108px;
  width: 50% h2;
  
}

.three h6 {
  font-size: 18px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 100%;
  padding: 55px 0;
  position: relative;
  top: 901px;
  text-align: center;
  height: 108px;
}

.container h6 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #A27137;
}

.inline-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  gap: 2rem;
}

.snap_inline {
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}

.snap_inline > * {
  scroll-snap-align: start;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  top: 840px;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
}

#box {
  padding: 14px 14px;
}

#box h4 {
  color: #043187;
}

.footer {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  top: 888px;
  margin-left: auto;
  margin-right: auto;
  background: #83A5E5;
  bottom: 0;
  height: 106px;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 13px;
}

.footer p {
  color: white;
}

.icons {
  padding: 10px 0;
}

.icons img {
  height: 20px;
  width: 25px;
  left: 2.5px;
  top: 5px;
  border-radius: 0px;
  margin: 0px 12px;
}

.menu-icon {
  width: 30px;
}

#img {
  padding: 0 16px;
}

@media only screen and (max-width: 750px) {
  nav ul {
    width: 100%;
    background: #a8a8a8;
    position: absolute;
    z-index: 2;
    top: 138px;
    right: 0;
    display: inline-block;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */