* {
    margin: 0px;
}
body {
    background: #FAFAFA;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 1023px;
    height: 40px;
    left: 297px;
    top: 24px;

    

}

.nav-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: flex-end; */
    padding: 0px;
    gap: 64px;

    width: 332px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    /* border: 2px solid red; */
}

.home {
    width: 50px;
    height: 22px;
    
    /* Body/paragraph_2: Medium */
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    
    /* Greyish Colour/1100 */
    
    color: #2E2E2E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin-right: 20px; */


}
.faqs {
    width: 45px;
    height: 22px;

    /* Body/paragraph_2: Medium */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/1100 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.res {
    width: 85px;
    height: 22px;

    /* Body/paragraph_2: Medium */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/1100 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.nav-button>button {
    border: none;
}

.profile {
    width: 40px;
    height: 40px;

    background: url(img/Ellipse\ 22.png);

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    /* float: left;
    overflow: hidden */
}



/* .navbar {
  overflow: hidden;
  background-color: #333;
} */

/* .profile a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */



/* .dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  float: left;
  overflow: hidden;
} */

/* .profile:hover .profile-btn {
  background-color: red;
} */

.profile-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 230px;
  height: 366px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -165px;

  border-radius: 30px;

  align-items: center;

}
.content-top {
    width: 185px;
    height: 112px;
    border-bottom: 2px solid #E6E6E6;;
    /* align-items: center; */
    margin-left: 22px;
}

.avatar {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 24px;
    top: 24px;

    background: url(img/Ellipse\ 22.png) no-repeat;

}
.content-bottom {
    width: 207px;
    height: 250px;
    margin-left: 22px;
}
.link1 {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 73px;
    height: 43px;
    left: 14px;
    top: 134px;
}
.link2 {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 191px;
    height: 43px;
    left: 14px;
    top: 186.62px;
}
.link3 {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 74px;
    height: 43px;
    left: 14px;
    top: 238.88px;
}
.link4 {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    position: absolute;
    width: 67px;
    height: 43px;
    left: 14px;
    top: 291px;
    
}

.content-bottom a {
  /* float: none; */
  /* color: black; */
  padding: 12px 16px;
  padding-left: 0;

  
  /* text-decoration: none; */
  /* display: block; */
  /* text-align: left; */


    width: 171px;
    height: 23px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;

    /* Primary/ 800 */

    color: #043187;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile-content a:hover {
    background-color: #CDDBF5;
    /* background-color: #ddd; */
}

.profile:hover .profile-content {
  display: block;
}












a:link {
    text-decoration: none;
    /* color: #2E2E2E; */

}

a:visited {
    text-decoration: none;
    /* color: #2E2E2E; */
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.search {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: flex-start; */
    padding: 12px;
    gap: 10px;

    width: 273px;
    height: 40px;

    background: #FFFFFF;
    /* Greyish Colour/600 */

    border: 1px solid #E6E6E6;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}




.search-input {
    width: 223px;
    height: 16px;

    /* Body/Small/text_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.4px;

    /* Greyish Colour/900 */

    background: transparent;
    /* background: #FFFFFF; */
    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    border: none;
    outline: none;
}


.side-bar {
    /* Auto layout */
    /* border:4px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 276px;
    height: 239.5px;
    /* height: 1024px; */
    left: 0px;
    top: 0px;
    border-right: 1px solid #EAEAEA;
}

.logo {
    background: url(img/Logo.png);
    margin-left: 69.84px;
    margin-right: 69.84px;
    margin-top: 64px;

    width: 136.33px;
    height: 75px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    border: none;
}


.session {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    gap: 36px;

    width: 276px;
    height: 48px;

    /* border: 1px solid red; */
    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    /* border-right: 1px solid #EAEAEA; */
    /* border-right: 1px solid black; */
    /* border: 4px solid blue; */
    /* margin-left: 80px;
    margin-right: 80px; */
    margin-top: 134.5px;
}

.time {
    /* Auto layout */

    width: 116px;
    height: 48px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /* border: 1px solid red; */

    margin-left: 80px;
    margin-right: 80px;
    /* margin-top: 134.5px; */
    /* margin-bottom: 100px; */
}



.drop-zone {
    width: 522px;
    /* max-width: 200px; */
    height: 317px;
    /* height: 200px; */
    padding: 12px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-family: "Quicksand", sans-serif; */
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    /* border: 4px dashed #009578; */
    border: 1.5px dashed #064ACB;
    background: #FFFFFF;

    left: 287px;
    top: 160px;

    border-radius: 24px;
    /* border-radius: 10px; */



    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: 10px; */
    position: absolute;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 11px;

    width: 242px;
    height: 115px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-left: 125px;
    margin-top: -14px;
    background: transparent;
    /* border: 2px solid red; */
}
.icon1 {
    /* background: url(/dashboard/assets/img/Vector\ \(3\).png); */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 81px;
    top: 10px;
    

    /* Primary/ 100 */

    background: #CDDBF5;

    margin-left: 145px;
    border-radius: 50px;

}
.icon2 {
    background: url(img/Vector\ \(3\).png);
    background-size: contain;
    /* background-repeat: none; */
    
    position: absolute;
    width: 25px;
    height: 25px;
    left: 254px;
    top: 38px;

    /* position: absolute;
    left: 9.38%;
    right: 9.37%;
    top: 9.38%;
    bottom: 9.37%; */

    /* Primary/600 */

    /* background: #064ACB; */
}
.top-text {
    width: 242px;
    height: 24px;

    /* Body/Paragraph_1: Medium */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    background: transparent;
    margin-top: 90px;

    /* border: 1px solid red; */
}
.bottom-text1 {
    width: 27px;
    height: 22px;

    /* Body/paragraph_2: Bold */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: transparent;

}
.bottom-text2 {
    width: 148px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    background: transparent;

}
.bottom-text3 {
    width: 344px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    /* Greyish Colour/800 */

    color: #999999;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    background: transparent;

}





.middle {
    
    width: 497px;
    height: 0px;

    /* Primary/ 200 */

    border: 1px solid #ACC3EE;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    margin-top: 35px;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 344px;
    height: 130px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    margin-left: 75px;
    margin-top: 23px;
    background: transparent;
    /* border: 2px solid red; */
}

.down {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 522px;
    height: 317px;
    /* width: 495.2626px;
    height: 301.3402px; */
    left: 825px;
    top: 160px;

    background: #FFFFFF;
    /* Primary/600 */

    border: 1.5px solid #064ACB;
    border-radius: 24px;
}























































































































































.down>button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    position: absolute;
    width: 136px;
    height: 40px;
    left: 362px;
    top: 249px;

    /* Primary/600 */

    background: #064ACB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    border: none;
}

.down>p {
    position: absolute;
    width: 120px;
    height: 16px;
    left: 19px;
    top: 14px;

    /* Body/Small/text_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Greyish Colour/900 */

    color: #737373;
    background: transparent;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.down-btn>a {
    background: transparent;

    
    width: 76px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.table-cont {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    /* width: 1063px; */
    width: 1053px;
    height: 384px;
    left: 287px;

    /* left: 297px; */
    top: 549px;


    /* border: 2px solid red; */
}
.table-body {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}
  
/* .table-body td, .table-body th {
    border: 1px solid #ddd;
    padding: 8px;
} */

  
/* .table-body tr:hover {background-color: #ddd;} */
  
.table-body th {
    /* padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white; */

    /* display: flex; */
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 12px 24px;
    gap: 96px;


    width: 177.17px;
    height: 48px;
    text-align: left;


    /* Primary/ 800 */

    background: #043187;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

/* 
    width: 72px;
    height: 24px; */

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    align-items: center;
    letter-spacing: 0.5px;

    /* Primary/ 100 */

    color: #CDDBF5;

}

.table-body td {
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 96px;
    text-align: left;

    width: 177.17px;
    height: 40px;

    /* Greyish Colour/100 */

    /* background: #FAFAFA; */

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    
    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* align-items: center; */
    letter-spacing: 0.5px;

    /* Greyish Colour/1100 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
tr:nth-child(odd) {
    background-color: #CDDBF5;
}







.files {
    
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-left: 24px;

    width: 82px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.files > p {
    width: 34px;
    height: 24px;

    /* Body/Paragraph_1: Medium */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* Greyish Colour/1100 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.disp-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.5px 5px;
    gap: 10px;

    position: absolute;
    width: 122px;
    height: 40px;
    /* left: 1238px; */
    left: 1213px;
    top: 955px;

    /* Primary/600 */

    background: #064ACB;
    border-radius: 8px;
}
.file-btn {
    width: 100px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    border: none;
    background: transparent;
}
.file-btn>a {
    background: transparent;
    color: #FFFFFF;

}






.css-treeview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 276px;
    height: 488px;
    margin-top: 239.5px;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    border-right: 1px solid #EAEAEA;
}

.parent {
    /* background: #2C3E50 !important;
    padding: 5px;
    border-radius: 3px;
    margin: 2px; */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    width: 276px;
    height: 56px;

    /* Greyish Colour/100 */

    background: #FAFAFA;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.parent > p {
    width: 150px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Primary/600 */

    color: #064ACB;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 10px;

    width: 224px;
    height: 56px;

    /* Greyish Colour/100 */

    background: #FAFAFA;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.child > p {
    width: 150px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Primary/ 1000 */

    color: #064ACB;



    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}






.css-treeview ul,
.css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input {
    position: absolute;
    opacity: 0;
}

.css-treeview {
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.css-treeview input+label+ul {
    margin: 0 0 0 22px;
}

.css-treeview input+label+ul {
    display: none;
}

.css-treeview label,
.css-treeview label::before {
    cursor: pointer;
}

.css-treeview input:disabled+label {
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled)+label+ul {
    display: block;
}

.css-treeview label,
.css-treeview label::before {
    background: url("icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.css-treeview label {
    background-position: 18px 0;
}

.css-treeview label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked+label::before {
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
} */













/* Button used to open the contact form - fixed at the bottom of the page */
.openButton {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }