asgiref==3.5.2
crispy-bootstrap5==0.6
Django==4.1
django-crispy-forms==1.14.0
django-social-share==2.3.0
filetype==1.1.0
lxml==4.9.1
Pillow==9.2.0
PyPDF2==2.10.0
python-decouple==3.6
python-docx==0.8.11
python-dotenv==0.20.0
sqlparse==0.4.2
tinytag==1.8.1
