@media screen and (min-width:200px) and (max-width:599px) {
    .nav-bar {
        width: 290px;
        left: 110px;
        top: 40px;
    }
    .nav-button {
        order: -1;
        margin-left: 0px;
        gap: 10px;
    }

    .home, .faqs, .res {
        font-size: 15px;
    }
    
    .search {
        width: 280px;
        margin-left: -450px;
        margin-top: 120px;
    }
    
    .search-input {
        width: 220px;
    }
    
    .profile {
        z-index: 10;
    }
    
    .side-bar {
        width: 180px;
        height: 1380px;
        /* opacity: 5; */
        /* transform: translateX(-25px); */
        z-index: 10;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background: #FAFAFA;


    }
      
    .session {
        width: 180px;
        height: 148px;
    }

    .time {
        height: 148px;
        margin-left: 35px;
        justify-content: center;
    }
    
    .upload {
        left: 115px;
        top: 180px;
        width: 285px;
        height: 321px;
        border: 1px solid red;
    }
    .drop-zone {
        width: 285px;
        padding: 12px;
        font-size: 18px;
        color: #cccccc;
    }

    #save {
        width: 136px;
        height: 40px;
        left: 73px;
        top: 238px;
        background: #064ACB;
    }

    .top {
        margin-left: 8px;
        border: 1px solid red;
    }
    .icon1 {
        width: 60px;
        height: 60px;
        top: 3px;
        margin-left: 30px;
    }
    .icon2 {
        width: 20px;
        height: 20px;
        left: 131px;
        top: 22px;
    }
    
    .bottom-text3 {
        width: 280px;
    }
    .middle {
        width: 260px;
    }
    .bottom {
        gap: 30px;
        width: 285px;
        margin-left: -15px;
    }

    .down {
        left: 115px;
        top: 510px;
        width: 285px;
    }
    
    .down-btn {
        left: 140px;
        top: 260px;
    }

    #overlay{ 
        left: -100px;
        width: 365px;
        height: 555px;
        top: -50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    #mask{ 
        width: 415px;
        height: 1380px;
        left: -120px;
        top: -180px;
        background: #FAFAFA;

    }
    
    .table-cont {
        width: 285px;
        height: 450px;
        left: 115px;
        top: 860px;
    }
    .table-body {
        table-layout: fixed;
        height: 100%;
        border-spacing: 0;
    }
    .table-body th {
        padding:0;
        width: 100%;
        border: none;
        gap: 96px;
        font-weight: 400;
        font-size: 10px;
    }
    .table-body td {
        border: none;
        padding:0;
        width: 100%;
        font-size: 8px;
    }
    
    .saved, .trashed, .not-saved, .tab label {
        padding:0;
        width: 100%;
    }
    .saved p, .trashed p, .not-saved p {
        font-size: 10px;
        width: 100%;
       
    }
    
    .content {
        margin-left: -90px;
        margin-top: -130px;
    }
   
    .disp-all {
        left: 275px;
        top: 1330px;
    }
    
    .toggle {
        margin-left: -400px;
    }
}
