* {
    margin: 0px;
    background: #FAFAFA;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 1023px;
    height: 40px;
    left: 297px;
    top: 24px;

}

.nav-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 40px;

    width: 310px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-button>button {
    border: none;
}


.nav-button>a {
    width: 44px;
    height: 24px;

    /* Body/Paragraph_1: Medium */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* Greyish Colour/1100 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.avatar {
    width: 40px;
    height: 40px;

    background: url(/dashboard/assets/img/Ellipse\ 22.png);

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

a:link {
    text-decoration: none;
    color: #2E2E2E;

}

a:visited {
    text-decoration: none;
    color: #2E2E2E;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.search {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;

    width: 273px;
    height: 40px;

    background: #FFFFFF;
    /* Greyish Colour/600 */

    border: 1px solid #E6E6E6;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.side-bar {
    /* Auto layout */
    /* border:4px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 276px;
    height: 239.5px;
    /* height: 1024px; */
    left: 0px;
    top: 0px;
    border-right: 1px solid #EAEAEA;
}

.logo {
    background: url(/images/Logo.png);
    margin-left: 69.84px;
    margin-right: 69.84px;
    margin-top: 64px;

    width: 136.33px;
    height: 75px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    border: none;
}


.danger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 276px;
    height: 296.5px;
    /* margin-top: 100.5px; */

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    border-right: 1px solid #EAEAEA;
    /* border-right: 1px solid black; */
    /* border: 4px solid blue; */
}

.del-acct {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 36px;

    width: 208px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    /* border: 4px solid red; */

    margin-left: 34px;
    margin-right: 34px;
    margin-top: 100.5px;
    margin-bottom: 100px;
}

.del-acct > p {
    width: 208px;
    height: 24px;
    text-align: center;
    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}





.del-button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    width: 173px;
    height: 40px;

    /* Error Colour/ 600 */

    border: 1px solid #064ACB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.del-button > a {
    width: 113px;
    height: 24px;

    /* Body/Paragraph_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Primary/600 */

    color: #064ACB;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}





.drop-zone {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

    position: absolute;
    width: 522px;
    height: 317px;
    /* width: 510.58px;
    height: 310.66px; */
    left: 287px;
    top: 160px;

    background: #FFFFFF;
    /* Primary/600 */

    border: 1.5px dashed #064ACB;
    border-radius: 24px;
    cursor: pointer;
}


.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/* .drop-zone__prompt::after {
    display: none;
} */

.down {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 522px;
    height: 317px;
    /* width: 495.2626px;
    height: 301.3402px; */
    left: 825px;
    top: 160px;

    background: #FFFFFF;
    /* Primary/600 */

    border: 1.5px solid #064ACB;
    border-radius: 24px;
}

.down>button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    position: absolute;
    width: 136px;
    height: 40px;
    left: 362px;
    top: 249px;

    /* Primary/600 */

    background: #064ACB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.down>p {
    position: absolute;
    width: 120px;
    height: 16px;
    left: 19px;
    top: 14px;

    /* Body/Small/text_1: Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Greyish Colour/900 */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.table {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    /* width: 1063px; */
    width: 1053px;
    height: 384px;
    left: 287px;

    /* left: 297px; */
    top: 549px;


    border: 2px solid red;
}

.files {
    
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 82px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}






.css-treeview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 276px;
    height: 488px;
    margin-top: 239.5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    border-right: 1px solid #EAEAEA;
    /* border-right: 1px solid black; */
    /* border: 4px solid black; */
}

label {
    background: #2C3E50 !important;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
}


.css-treeview ul,
.css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input {
    position: absolute;
    opacity: 0;
}

.css-treeview {
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.css-treeview input+label+ul {
    margin: 0 0 0 22px;
}

.css-treeview input+label+ul {
    display: none;
}

.css-treeview label,
.css-treeview label::before {
    cursor: pointer;
}

.css-treeview input:disabled+label {
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled)+label+ul {
    display: block;
}

.css-treeview label,
.css-treeview label::before {
    background: url("icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.css-treeview label {
    background-position: 18px 0;
}

.css-treeview label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked+label::before {
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }

        to {
            padding: 0;
        }
    }
} */