@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

::-webkit-scrollbar-thumb {
    background-color: #2E2E2E;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 4px;
}