 
{% extends 'base.html' %}


{% load static %}
{%load crispy_forms_tags %}



{% block css %}
  <link rel="stylesheet" href="{% static 'css/static.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block js %}
  <script src="{% static 'js/static.js' %}" defer></script>
{% endblock %}


{% block content %}
<style>
    form{
        width: 60%;
        margin: auto;
        height: 200px;
        padding: 100px;
        
    }
.fag{
    width: 90%;
    height: 50px;
    color: red;
    
}
</style>


  <div class="fag">
<form action="" method="post" >
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>
    {{ form.username|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}

    
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>

  {% endblock %}
