{% load static %}
<nav class="nav base-nav">
    <img src="images/Logo.png" alt="Logo">
    <div class="nav-links" title="links" id="navMenu">
        <a href="index.html" class="nav-link" title="index">Home</a>
        <a href="about-us.html" class="nav-link" title="about-us">About Us</a>
        <a href="faqs.html" class="nav-link" title="faqs">FAQs</a>
        <a href="contact-us.html" class="nav-link" title="contact-us">Contact Us</a>
    </div>
    <div class="nav-btns" id="navBtn">
        
        <!--{% if user_isauthenticated %}
        <button type="submit" class="nav-btn"><a href="" class="index-nav-sign-up">Dashboard</a></button>
        <button type="submit" class="nav-btn index-log"><a href="login.html" class="index-nav-log-in">Log Out</a></button>
        {% else %}-->
        <button type="submit" class="nav-btn"><a href="signup.html" class="index-nav-sign-up">Sign Up</a></button>
        <button type="submit" class="nav-btn index-log"><a href="login.html" class="index-nav-log-in">Log In</a></button>
        <!--{% endif %}-->
            
        
    </div>
    <div class="profile-circle">
        <i class="fa-solid fa-circle-user" id="profile"></i>
    </div>
    <div class="hamburger" id="hamburger">
        <div class="toggle-item"></div>
        <div class="toggle-item"></div>
        <div class="toggle-item"></div>
    </div>
</nav>